body {
background-color:#000;
font-family:"Lucida Console", Monaco, monospace;
color:#f9f8f8;
}

img {
max-width:100%;
}

.cnt {
text-align:center;
}

hr {
width:350px;
border:0;
height:1px;
background:#36C;
}

table.cntr {
margin-left:auto;
margin-right:auto;
}

.lrg {
font-size:large;
}

td {
text-align:center;
padding:4px 0;
}

.wdt {
width:100%;
}

.pdn {
margin:.8em 0;
}

.pdnz {
padding:9px 0;
}

.pdnzt {
padding-top:22px;
}

.tg {
border-collapse:collapse;
border-spacing:0;
}

.tg .tggr {
background-color:#222;
text-align:center;
vertical-align:top;
border-color:inherit;
}

.tg .tggn {
background-color:#032b43;
text-align:left;
vertical-align:top;
border-color:inherit;
}

.tg .tgbl {
background-color:#34695e;
text-align:left;
vertical-align:top;
border-color:inherit;
}

.tg .tgt {
text-align:left;
vertical-align:top;
border-color:inherit;
}

a:link,a:active,a:visited {
color:#6c91c2;
text-decoration:none;
}

a:hover {
color:#7fd1b9;
}

.tg td,.tg th {
overflow:hidden;
border-color:#556B2F;
border-style:solid;
border-width:1px;
padding:10px 5px;
}
